.polkadot {
  background-color: #fefefe;
  background-image: radial-gradient(
      circle at 25% 25%,
      #e2e8f0 1px,
      transparent 1px
    ),
    radial-gradient(circle at 75% 75%, #e2e8f0 1px, transparent 1px);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
  min-height: 300px;
  transition: all 0.3s ease;
}
